<h1>SimplePages#index</h1>
<p>Find me in app/views/simple_pages/index.html.erb</p>
<p>Welcome! The date and tine is <%= Time:now %></p>

<%# Home %>
<h1>Welcome to Santo Varal</h1>
<p>Your source for makeup and perfumary.</p>

<%# About %>
<h1> This e-commerce app bring all the best in makeup and perfumary that you can find it in the market.</h1>
<p>All you need is here.</p>

<%# Contact %>
<h1>The email for contact is:</h1>
<p>santovaral@gmail.com</p>
