<p>Welcome! The date and time is <%= Time.now %></p>

<%# Home %>
<h1>Welcome to Santo Varal</h1>
<p>Your source for makeup and perfumary.</p>

<%= image_tag("makeup.jpg", class: "img-responsive") %>
