<h1>SimplePages#index</h1>
<p>Find me in app/views/simple_pages/index.html.erb</p>
<p>Welcome! The date and time is <%= Time.now %></p>

<%# Home %>
<h1>Welcome to Santo Varal</h1>
<p>Your source for makeup and perfumary.</p>
