// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-nav {
	flex-direction: row;
	 }

.navbar-nav li {
	margin-right: 15px;
	 }

 * {
	 	box-sizing: border-box;
	  }

	.nav {
  	z-index: 1;
	  }

	.carrousel-caption  {
    color: #FF0080;
		font-size: 2rem;
	  margin: 0 auto;
	  padding-top: 65px;
		height: 100px;
	   }

.column {
	width: 33.3333333;
	margin: 100px;
	padding-top: 100px;
	display: inline-block;
	 }

.button {
	border-radius: 2px;
	 }

	#contact {
     background-image: url("../img/eyeshadow1.jpg"); /*Add a background image*/
     padding-top: 50px 100px 100px 100px;
     background-attachment: fixed; /*Give the background a fixed position does it not scroll when you scroll*/
     background-size: cover; /*Have the background cover the entire div section*/
		 color: black; /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
		 height: 400px;
  }
