// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-nav {
	flex-direction: row;
	 }

.navbar-nav li {
	margin-right: 15px;
	 }

 * {
	 	box-sizing: border-box;
	  }

	.nav {
  	z-index: 1;
	  }

	.carrousel-caption  {
    color: #FF0080;
		font-size: 2rem;
	  margin: 0 auto;
	  padding-top: 65px;
		height: 100px;
	   }

.column {
	width: 33.3333333;
	margin: 100px;
	padding-top: 100px;
	display: inline-block;
	 }

.button {
	border-radius: 2px;
	 }

	 /* Full-width input fields */
	   input[type=text], input[type=password] {
	   width: 100%;
	   padding: 15px;
	   margin: 5px 0 22px 0;
	   display: inline-block;
	   border: none;
	   background: #f1f1f1;
	 }

	 /* Add a background color when the inputs get focus */
	 input[type=text]:focus, input[type=password]:focus {
	   background-color: #ddd;
	   outline: none;
	 }

	 /* Set a style for all buttons */
	 button {
	   background-color: #FF5733;
	   color: white;
	   padding: 14px 20px;
	   margin: 8px 0;
	   border: none;
	   cursor: pointer;
	   width: 100%;
	   opacity: 0.9;
	 }

	 button:hover {
	   opacity:1;
	 }
